@page
@model zoo.Pages_ZooAnimals.IndexModel

@{
    ViewData["Title"] = "Animals";
}

<div>
	<h3>Search</h3>
	<form class="searchform">
		<label class="SearchLb" for="name">Name : </label>
        <input type="text" asp-for="Query" />

        <label for="species">Species : </label>
		<input type="text" asp-for="ASpecies"/>	

         <label for="gender">Gender : </label>
		<input type="text" asp-for="AGender"/>	

         <label for="location">Location : </label>
		<input type="text" asp-for="ALocation"/>		
		<input type="submit" value="Search" />
	</form>
</div>

<p>
    <a class="createnew" asp-page="Create">Create New Animal</a>
   <form asp-page-handler="ExportReport">
    <button type="submit">Export Report</button>
</form>
</p>
<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.AnimalModel[0].ImageName)
            </th>
             <th>   
                 @if (Model.SortOrder == "Name_desc")
                {
                    <a href="?sortby=Name_asc"> @Html.DisplayNameFor(model => model.AnimalModel[0].Name) <i class="fas fa-sort-down"></i></a>
                }
                else if (Model.SortOrder == "Name_asc")
                {
                    <a href="?sortby=Name_desc"> @Html.DisplayNameFor(model => model.AnimalModel[0].Name)<i class="fas fa-sort-up"></i></a>
                }
                else
                {
                    <a href="?sortby=Name_asc"> @Html.DisplayNameFor(model => model.AnimalModel[0].Name)<i class="fas fa-sort-down"></i></a>
                }            
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalModel[0].Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalModel[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalModel[0].Gender)
            </th>
           <th>
            
           @if (Model.SortOrder == "Location_desc")
                {
                    <a href="?sortby=Location_asc">Location <i class="fas fa-sort-down"></i></a>
                }
                else if (Model.SortOrder == "Location_asc")
                {
                    <a href="?sortby=Location_desc">Location<i class="fas fa-sort-up"></i></a>
                }
                else
                {
                    <a href="?sortby=Location_asc">Location<i class="fas fa-sort-down"></i></a>
                }
               
            </th>
            <th>
                 @if (Model.SortOrder == "Quan_desc")
                {
                    <a href="?sortby=Quan_asc"> @Html.DisplayNameFor(model => model.AnimalModel[0].quantity) <i class="fas fa-sort-down"></i></a>
                }
                else if (Model.SortOrder == "Quan_asc")
                {
                    <a href="?sortby=Quan_desc"> @Html.DisplayNameFor(model => model.AnimalModel[0].quantity)<i class="fas fa-sort-up"></i></a>
                }
                else
                {
                    <a href="?sortby=Quan_asc">  @Html.DisplayNameFor(model => model.AnimalModel[0].quantity)<i class="fas fa-sort-down"></i></a>
                }   
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalModel[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AnimalModel != null)
        {
            @foreach (var item in Model.AnimalModel)
            {
                <tr>
                    <td>
                        <img src="@item.ImageName"  style="max-width: 150px; max-height: 150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Species)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AnimalModelId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AnimalModelId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AnimalModelId">Delete</a>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
